<ul class="navBar">
    <li><a href="#/profile/{{userid}}">Profile</a></li>
    <li><a href="#/inbox/{{userid}}">Message</a></li>
    <li><a href="#/">Logout</a></li>
</ul>
<div id="msgPopup" ng-show="showMsgDetail">
    <span ng-click="closeViewMsg()">&times;</span>
    <table>
        <tr>
            <th>Subject:</th>
            <td>{{msgDetails.subject}}</td>
        </tr>
        <tr>
            <th>From:</th>
            <td>{{msgDetails.sender}}</td>
        </tr>
        <tr>
            <th>To:</th>
            <td>{{msgDetails.reciever}}</td>
        </tr>
        <tr>
            <th>Content:</th>
            <td>{{msgDetails.content}}</td>
        </tr>
    </table>
</div>
<div class="messagePage">
    <ul>
        <li style="background-color: rgba(225, 214, 208, 0.96)"><a style="color: #773340" href="#/inbox/{{userid}}">INBOX</a></li>
        <li><a href="#/sentmail/{{userid}}">SENT MAIL</a></li>
        <li><a href="#/compose/{{userid}}">COMPOSE</a></li>
    </ul>

    <div id="messageBox">
        <table id="myTable">
            <tr>
                <th>From</th>
                <th>Subject</th>
                <th></th>
            </tr>
            <tr ng-repeat="msgs in thisUserMsgs">
                <td>{{msgs.sender}}</td>
                <td>{{msgs.subject}}</td>
                <td>
                    <input type="button" style="background-color: #5eb85e;color:white" value="view" ng-click="viewMsg($index)"/>
                    <input type="button" value="&starf;" id="stared{{$index}}" class="notstared" ng-click="starMsg($index)"/>
                    <input type="button" style="background-color: #c8322e;color:white" value="&times;" ng-click="deleteMsg($index)"/>
                </td>
            </tr>
        </table>
    </div>
</div>

